html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #F5F5DC; 
    color: #4A5D4A; 
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}



nav {
    background-color: #4A5D4A;
    padding: 15px 0;
}

.nav-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;           
    justify-content: space-between;  
    align-items: center;
}

.nav-name {
    color: #F5F5DC;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-links a {
    color: #F5F5DC;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a.active {
    text-decoration: underline;
}

.nav-links a:hover {
    text-decoration: underline;
}



main {
    flex: 1;
    max-width: 900px;   
    margin: 0 auto;   
    padding: 20px;      
}


img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}


footer {
    padding: 20px;
}

.footer-links a {
    color: #4A5D4A;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.about-section {
        max-width: 700px;
        margin: 40px auto;
        padding: 30px;
        background-color: #EDEBD7;
        border-radius: 12px;
        text-align: left;
    }

.section-title {
        margin-top: 25px;
        border-bottom: 1px solid #4A5D4A;
        padding-bottom: 5px;
    }

.climbing-container {
    text-align: center;
    margin: 20px 0;
}

.climbing-picture {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
}

.caption {
    margin-top: 8px;
    font-size: 14px;
}

    .resume-section {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #EDEBD7; 
    border-radius: 12px;
    text-align: left;
    }
    
    .resume-section h2 {
        margin-top: 0;
    }
    
    .entry {
        margin-bottom: 25px;
    }
    
    .entry h3 {
        margin: 0;
    }
    
    .entry p {
        margin: 5px 0;
        font-size: 14px;
    }


/* Contact buttons */
.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons a {
    background-color: red;
    display: inline-block;
    margin: 10px;
    padding: 10px 18px;
    background-color: #FAF9F6; 
    color: #4A5D4A;
    text-decoration: none;
    border-radius: 20px;        
    border: 1px solid #4A5D4A;
    font-size: 14px;
    transition: all 0.2s ease;
}


.buttons a:hover {
    background-color: #4A5D4A;
    color: #F5F5DC;
    transform: translateY(-2px);  
}
