<!DOCTYPE css>
body {
    background-image: url('https://img.freepik.com/free-photo/honeycomb-texture_1127-373.jpg?w=360'); 

 color: 
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 15%;
  
  
}



.contact {
  border-bottom: 1px solid black
}

.exp-header {
    text-align: center;
  text-transform: uppercase;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: #C5D4C6;
  
  
}

.certifications ul {
   list-style-type: none;
   text-align: center
   
}




.bodyody {
  background-image: url('https://img.freepik.com/free-photo/paper-texture-background_632498-1017.jpg'); 
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 1000px;
  height: 1500px;
}

.education {
  text-align: center;
}
