html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #F5F5DC; 
    color: #4A5D4A; 
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* NAV */

nav {
    background-color: #4A5D4A;
    padding: 15px 0;
}

.nav-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;           
    justify-content: space-between;  
    align-items: center;
}

.nav-name {
    color: #F5F5DC;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.nav-links a {
    color: #F5F5DC;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a.active {
    text-decoration: underline;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* MAIN */

main {
    flex: 1;
    max-width: 900px;   
    margin: 0 auto;   
    padding: 20px;      
}

/* IMAGE */
img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

/* FOOTER */
footer {
    padding: 20px;
}

.footer-links a {
    color: #4A5D4A;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}
